In [4]:
import pandas as pd 

data = pd.read_csv("../Resources/clean_Heart_Disease.csv")
data.head()

,Unnamed: 0,State,LocationDesc,GeographicLevel,"Data Value (Per 100,000 Population)",Gender,Race/Ethnicity,LocationID,Latitude,Longitude
0,0,AK,Kenai Peninsula,County,165.1,Male,Hispanic,2122,60.193263,-150.280744
1,1,AL,Walker County,County,109.0,Overall,Hispanic,1127,33.810226,-87.297070
2,2,AL,St. Clair County,County,90.0,Overall,Asian,1115,33.716065,-86.314960
3,3,AR,Yell County,County,NaN,Female,Asian,5149,35.005864,-93.401676
4,4,AS,American Samoa County,County,NaN,Male,Black,60000,-14.301754,-170.719474

In [6]:
#Filter for necessary clomuns and export to JSON 
filtered_data = data[['State', 'Gender', 'Race/Ethnicity', 'Data Value (Per 100,000 Population)']].dropna()
filtered_data.to_json("heart_disease_data.json", orient="records")